<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/JavaExamples/ReqredAPITests">
        <classes>
            <class name="ColorTests.SingleColorTest">
                <methods>
                    <include name="checkStatus200OK"/>
                    <include name="checkColorAttributesID"/>
                    <include name="checkColorAttributeNAME"/>
                    <include name="checkColorAttributeYEAR"/>
                    <include name="checkColorAttributeCOLOR"/>
                    <include name="checkColorAttributePANTONEVALUE"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>